@{
    ViewData["Title"] = "Trang Đăng Ký";
    Layout = "~/Views/Shared/_LoginLayOut.cshtml";
}
@{
    <p>@ViewData["ThongBao"]</p>
    <p><a asp-area="Admin" asp-controller="User" asp-action="CheckRegister">Trở lại trang đăng ký</a> / <a asp-area="Admin" asp-controller="User" asp-action="CheckLogin">Đăng nhập</a></p>
}
